MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=smarttable
MYSQL_USER=user_smarttable
MYSQL_PASSWORD=smarttable123
MYSQL_BOOTSTRAP_HOST=localhost
MYSQL_BOOTSTRAP_PORT=3306
MYSQL_BOOTSTRAP_USER=root
MYSQL_BOOTSTRAP_PASSWORD=
SECRET_KEY=change-me
SESSION_COOKIE_SECURE=0
